In [51]:
import pandas as pd
import datetime
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
import xgboost as xgb

In [2]:
data = pd.read_csv('holdout_set.csv', encoding = "ISO-8859-1")

In [3]:
data.head()

,Engagements,Followers at Posting,Created,Type,Description
0,NaN,36984682,2019-05-22 00:31:55 EDT,Photo,The @raptors even up the Eastern Conference Fi...
1,NaN,36984682,2019-05-21 23:20:41 EDT,Photo,The @raptors even the Eastern Conference Final...
2,NaN,36984682,2019-05-21 21:18:51 EDT,Video,@sergeibaka keeps it alive for the @raptors! (...
3,NaN,36955156,2019-05-21 18:20:09 EDT,Video,???? The SUPERHUMAN HANDS of Giannis & Kawhi ?...
4,NaN,36955156,2019-05-21 15:04:31 EDT,Video,?? the @raptors & @bucks in transition! #NBABr...

In [4]:
data['Description']= data.Description.fillna('')

In [5]:
data['Len_Desc'] = data['Description'].str.len()

In [6]:
data['Tagged_Count'] = data['Description'].str.count('@')

In [7]:
data.isna().sum()

Engagements             1000
Followers at Posting       0
Created                    0
Type                       0
Description                0
Len_Desc                   0
Tagged_Count               0
dtype: int64

In [8]:
data['DayOfWeek']= pd.to_datetime(data['Created']).dt.day_name()

In [9]:
data['Created']= pd.to_datetime(data['Created'])

In [10]:
def playoffDate(date): 
    if date > pd.Timestamp('2019-4-13'): 
        return 1 
    else: 
        return 0

In [11]:
data['playOffDate']= data.Created.map(lambda a: playoffDate(a.tz_localize(None)))

In [12]:
data['month'] = data.Created.map(lambda a: a.month)

In [13]:
data['hour'] = data.Created.map(lambda a: a.hour)

In [14]:
def timeOfDay(hour): 
    if hour < 6: 
        return 'Night' 
    elif hour <12: 
        return 'Morning'
    elif hour <18: 
        return 'Afternoon'
    else:
        return'Evening'

In [15]:
data['timeOfDay']= data.hour.map(lambda a: timeOfDay(a))

In [16]:
def proportionOfTarget(caption): 
    #In this case target will be all non normal text
    targetCount = 0
    if not caption: return 0
    lst = caption.split(' ')
    count = len(lst)
    if count == 0: return 0
    for word in lst: 
        if len(word) ==0: continue 
        if word[0] in ['@', '#']: targetCount += 1
        elif '??' in word: targetCount+= 1
    return float(targetCount)/float(count)

In [17]:
data['propOfSpecialTexts'] = data.Description.map(lambda a: proportionOfTarget(a))

In [18]:
data.head()

,Engagements,Followers at Posting,Created,Type,Description,Len_Desc,Tagged_Count,DayOfWeek,playOffDate,month,hour,timeOfDay,propOfSpecialTexts
0,NaN,36984682,2019-05-22 04:31:55,Photo,The @raptors even up the Eastern Conference Fi...,55,1,Wednesday,1,5,4,Night,0.111111
1,NaN,36984682,2019-05-22 03:20:41,Photo,The @raptors even the Eastern Conference Final...,92,2,Wednesday,1,5,3,Night,0.133333
2,NaN,36984682,2019-05-22 01:18:51,Video,@sergeibaka keeps it alive for the @raptors! (...,60,3,Wednesday,1,5,1,Night,0.444444
3,NaN,36955156,2019-05-21 22:20:09,Video,???? The SUPERHUMAN HANDS of Giannis & Kawhi ?...,105,3,Tuesday,1,5,22,Evening,0.375000
4,NaN,36955156,2019-05-21 19:04:31,Video,?? the @raptors & @bucks in transition! #NBABr...,121,3,Tuesday,1,5,19,Evening,0.375000

In [19]:
data['shoutouts']= data.Description.map(lambda x: re.findall('@\w*', x))
allVals = {}
for listItem in data['shoutouts']:
    for item in listItem:
        if item.lower() not in allVals: allVals[item.lower()] = 0
        allVals[item.lower()] = allVals[item.lower()] + 1
allVals

{'@raptors': 30,
 '@bucks': 18,
 '@sergeibaka': 3,
 '@nbaontnt': 60,
 '@warriors': 55,
 '@youtube': 3,
 '@stephencurry30': 29,
 '@money23green': 8,
 '@trailblazers': 16,
 '@nbaonespn': 17,
 '@qcook323': 1,
 '@meyersleonard11': 1,
 '@3jmccollum': 2,
 '@jharden13': 29,
 '@houstonrockets': 33,
 '@cp3': 12,
 '@ccapela15': 7,
 '@jimmybutler': 12,
 '@bensimmons': 17,
 '@sixers': 39,
 '@kyle_lowry7': 11,
 '@biggame_08': 2,
 '@nuggets': 18,
 '@celtics': 28,
 '@_kw15': 6,
 '@hornets': 14,
 '@jmglitxh27': 5,
 '@damianlillard': 7,
 '@easymoneysniper': 10,
 '@klaythompson': 6,
 '@budweiserusa': 2,
 '@fchwpo': 5,
 '@theofficialai3': 3,
 '@willthethrillb5': 1,
 '@trezz24': 2,
 '@andre': 3,
 '@nbahistory': 14,
 '@spurs': 12,
 '@nbatv': 25,
 '@utahjazz': 12,
 '@spidadmitchell': 16,
 '@giannis_an34': 17,
 '@detroitpistons': 11,
 '@laclippers': 14,
 '@kyrieirving': 16,
 '@pacers': 6,
 '@brooklynnets': 11,
 '@okcthunder': 26,
 '@djaugustin': 1,
 '@orlandomagic': 7,
 '@dwyanewade': 24,
 '@swish41': 8,
 '@dallasmavs': 13,
 '@longislandnets': 1,
 '@rgvvipers': 1,
 '@nbagleague': 3,
 '@cavs': 35,
 '@acfresh21': 1,
 '@joelembiid': 12,
 '@mbeasy5': 1,
 '@russwest44': 25,
 '@ahmad_monk': 2,
 '@dtaegraham': 2,
 '@eddavisxvii': 1,
 '@atlhawks': 8,
 '@repyourwork': 2,
 '@houseobayne': 1,
 '@balapat': 1,
 '@swipathefox': 5,
 '@washwizards': 17,
 '@dbook': 3,
 '@suns': 7,
 '@ygtrece': 12,
 '@chrisbosh': 3,
 '@hassanwhiteside': 2,
 '@dloading': 3,
 '@jonisaac_01': 1,
 '@jeremylamb1': 1,
 '@mb3five': 1,
 '@louwillville': 3,
 '@ruuufio': 1,
 '@rudygobert27': 4,
 '@iamjustise': 3,
 '@boogiecousins': 2,
 '@elfrid': 1,
 '@pelicansnba': 8,
 '@miamiheat': 15,
 '@timberwolves': 10,
 '@sacramentokings': 6,
 '@traeyoung': 13,
 '@cassyathenaphoto': 1,
 '@nbakicks': 2,
 '@youngamechanger': 3,
 '@gordonhayward': 3,
 '@zachlavine8': 3,
 '@antdavis23': 8,
 '@thebledshow': 2,
 '@rajonrondo': 3,
 '@lakers': 37,
 '@1ngram4': 3,
 '@staplescenterla': 2,
 '@kingjames': 60,
 '@kuz': 3,
 '@nyknicks': 12,
 '@lukadoncic': 6,
 '@blakegriffin23': 4,
 '@espn': 3,
 '@milesbridges': 5,
 '@iisuperwomanii': 1,
 '@jcollins20_': 4,
 '@expressmen': 1,
 '@finishline': 1,
 '@isaiahthomas': 6,
 '@nbaallstar': 15,
 '@realcoleworld': 2,
 '@tobiasharris': 1,
 '@callme_nonstop': 1,
 '@swayyvo': 1,
 '@unitedmasters': 1,
 '@iamamirjohnson': 2,
 '@jaren': 3,
 '@44bojan': 1,
 '@zo': 12,
 '@ivicazubac': 1,
 '@boban': 1,
 '@_tonyparker09': 2,
 '@dk2house': 1,
 '@vicoladipo': 6,
 '@demar_derozan': 5,
 '@divincenzo9': 1,
 '@planetpat5': 1,
 '@evanfournier10': 1,
 '@jhart': 4,
 '@deandreayton': 1,
 '@jaytatum0': 7,
 '@desmith4': 10,
 '@3tross1': 1,
 '@juliancenter': 1,
 '@jrich_0': 2,
 '@memgrizz': 6,
 '@nvonleh': 1,
 '@larrydn7': 3,
 '@johnwall': 6,
 '@marcgasol': 3,
 '@samdek7': 2,
 '@dwighthoward': 3,
 '@laurimarkkanen': 1,
 '@chicagobulls': 6,
 '@kkorv26': 2,
 '@joeingles7': 1,
 '@emmanuelmudiay': 2,
 '@godzgift_30': 2,
 '@mac11': 1,
 '@stevenadams': 2,
 '@greenranger14': 2,
 '@hbarnes': 1,
 '@djstephens30': 1,
 '@karltowns': 2,
 '@1ingram4': 1,
 '@andredrummondd': 2,
 '@thats_g_': 1,
 '@kevin_huerter': 1,
 '@23': 1,
 '@paulmillsap4': 1,
 '@shai': 1,
 '@steph': 1,
 '@javalemcgee': 4,
 '@naterobinson': 1,
 '@ds17_fg': 1,
 '@reggie_jackson': 1,
 '@fmason0': 1,
 '@_bigjayy_': 1,
 '@realbillrussell': 1,
 '@therealmobamba': 1,
 '@jalenbrunson1': 1,
 '@kostas__ante13': 1,
 '@carmeloanthony': 2,
 '@jabariparker': 2,
 '@sbird10': 2,
 '@wnba': 7,
 '@hoophall': 1,
 '@natlyphoto': 1,
 '@washmystics': 2,
 '@seattlestorm': 2,
 '@kobebryant': 5,
 '@t__cloud9': 1,
 '@dickssportinggoods': 1,
 '@fs1': 1,
 '@jrnba': 8,
 '@danilogallogallinari': 1,
 '@nba': 4,
 '@thenbpa': 1,
 '@dofficialmutombo': 2,
 '@lvaces': 2,
 '@kellyschu': 1,
 '@usabasketball': 1,
 '@mgmresortsintl': 2,
 '@nbasummerleague': 8,
 '@kocmj': 1,
 '@ecambage': 1,
 '@dallaswings': 1,
 '@sviat_10': 1,
 '@collinyoungbull': 1,
 '@_wadeiv': 1,
 '@therea1djones': 1,
 '@jlin7': 1,
 '@indianageorge3': 1,
 '@jabari_bird': 1,
 '@josh_j11': 1,
 '@j_lay_lay': 1,
 '@furkankorkkmaz': 1,
 '@moritz_weasley': 1,
 '@statefarm': 1,
 '@jdg7873': 1,
 '@nbaacademy': 1,
 '@kevindurant': 12,
 '@nba2k': 1,
 '@govballnyc': 1,
 '@gallo_locknez': 1,
 '@realtristan13': 2,
 '@sdot1414': 1,
 '@filayyyy': 1,
 '@famouslos32': 1,
 '@rademita': 1,
 '@nbastore': 1,
 '@the_1_dragon': 2,
 '@mbeli21': 1,
 '@thedr34m': 1,
 '@markeaton7ft4': 1,
 '@nba2kleague': 1,
 '@gmb_chum12': 2,
 '@nbacares': 1,
 '@manuginobili': 3,
 '@kevinhart4real': 2,
 '@meekmill': 1,
 '@kevinlove': 2,
 '@stephensonlance': 2,
 '@markellefultz': 2,
 '@aja22wilson': 1,
 '@njohn13': 1,
 '@spurs_austin': 1,
 '@teamswish': 1,
 '@preedgolf': 1,
 '@jarrettjack03': 2,
 '@frank_ntilikina': 1,
 '@officialeg10': 1,
 '@bam1of1': 1,
 '@jrue_holiday11': 1,
 '@rudygay': 2,
 '@juliusrandle30': 2,
 '@magicjohnson': 1,
 '@jokara95': 3,
 '@houseofhoops': 1,
 '@fskpart3': 1,
 '@ebled2': 1,
 '@adbphotoinc': 1,
 '@deandre': 3,
 '@g': 2,
 '@mr_carter5': 1,
 '@adamsilvernba': 2,
 '@nicbatum88': 1,
 '@blakegriffin32': 4,
 '@kporzee': 5,
 '@bradbeal3': 3,
 '@jumpman23': 2,
 '@k_mid22': 1,
 '@iammontaellis': 1,
 '@tissot': 1,
 '@impjrose': 1,
 '@fergie': 1,
 '@barenakedladiesmusic': 1,
 '@pharrell': 1,
 '@nerd': 1,
 '@unclejeffgreen': 1,
 '@milosteodosic4': 2,
 '@sterlingbrown23': 1,
 '@whynotfoundation': 1,
 '@quese': 1,
 '@jvalanciunas': 1,
 '@dsabonis11': 1,
 '@kuzmakyle': 2,
 '@bossmann99': 3,
 '@kristenledlow': 2,
 '@macbo50': 1,
 '@rhff': 1,
 '@kumhotireusa': 1,
 '@iisaiahthomas': 1,
 '@imanshumpert': 1,
 '@jeramigrant': 1,
 '@kendricklamar': 1,
 '@nike': 1,
 '@complexcon': 1,
 '@kennethfaried35': 1,
 '@t': 1,
 '@krisdunn3': 1,
 '@katyperry': 1,
 '@taylorswift': 1}

In [20]:
sorted([(vals,key) for key,vals in allVals.items()], reverse = True)

[(60, '@nbaontnt'),
 (60, '@kingjames'),
 (55, '@warriors'),
 (39, '@sixers'),
 (37, '@lakers'),
 (35, '@cavs'),
 (33, '@houstonrockets'),
 (30, '@raptors'),
 (29, '@stephencurry30'),
 (29, '@jharden13'),
 (28, '@celtics'),
 (26, '@okcthunder'),
 (25, '@russwest44'),
 (25, '@nbatv'),
 (24, '@dwyanewade'),
 (18, '@nuggets'),
 (18, '@bucks'),
 (17, '@washwizards'),
 (17, '@nbaonespn'),
 (17, '@giannis_an34'),
 (17, '@bensimmons'),
 (16, '@trailblazers'),
 (16, '@spidadmitchell'),
 (16, '@kyrieirving'),
 (15, '@nbaallstar'),
 (15, '@miamiheat'),
 (14, '@nbahistory'),
 (14, '@laclippers'),
 (14, '@hornets'),
 (13, '@traeyoung'),
 (13, '@dallasmavs'),
 (12, '@zo'),
 (12, '@ygtrece'),
 (12, '@utahjazz'),
 (12, '@spurs'),
 (12, '@nyknicks'),
 (12, '@kevindurant'),
 (12, '@joelembiid'),
 (12, '@jimmybutler'),
 (12, '@cp3'),
 (11, '@kyle_lowry7'),
 (11, '@detroitpistons'),
 (11, '@brooklynnets'),
 (10, '@timberwolves'),
 (10, '@easymoneysniper'),
 (10, '@desmith4'),
 (8, '@swish41'),
 (8, '@pelicansnba'),
 (8, '@nbasummerleague'),
 (8, '@money23green'),
 (8, '@jrnba'),
 (8, '@atlhawks'),
 (8, '@antdavis23'),
 (7, '@wnba'),
 (7, '@suns'),
 (7, '@orlandomagic'),
 (7, '@jaytatum0'),
 (7, '@damianlillard'),
 (7, '@ccapela15'),
 (6, '@vicoladipo'),
 (6, '@sacramentokings'),
 (6, '@pacers'),
 (6, '@memgrizz'),
 (6, '@lukadoncic'),
 (6, '@klaythompson'),
 (6, '@johnwall'),
 (6, '@isaiahthomas'),
 (6, '@chicagobulls'),
 (6, '@_kw15'),
 (5, '@swipathefox'),
 (5, '@milesbridges'),
 (5, '@kporzee'),
 (5, '@kobebryant'),
 (5, '@jmglitxh27'),
 (5, '@fchwpo'),
 (5, '@demar_derozan'),
 (4, '@rudygobert27'),
 (4, '@nba'),
 (4, '@jhart'),
 (4, '@jcollins20_'),
 (4, '@javalemcgee'),
 (4, '@blakegriffin32'),
 (4, '@blakegriffin23'),
 (3, '@zachlavine8'),
 (3, '@youtube'),
 (3, '@youngamechanger'),
 (3, '@theofficialai3'),
 (3, '@sergeibaka'),
 (3, '@rajonrondo'),
 (3, '@nbagleague'),
 (3, '@marcgasol'),
 (3, '@manuginobili'),
 (3, '@louwillville'),
 (3, '@larrydn7'),
 (3, '@kuz'),
 (3, '@jokara95'),
 (3, '@jaren'),
 (3, '@iamjustise'),
 (3, '@gordonhayward'),
 (3, '@espn'),
 (3, '@dwighthoward'),
 (3, '@dloading'),
 (3, '@deandre'),
 (3, '@dbook'),
 (3, '@chrisbosh'),
 (3, '@bradbeal3'),
 (3, '@bossmann99'),
 (3, '@andre'),
 (3, '@1ngram4'),
 (2, '@washmystics'),
 (2, '@trezz24'),
 (2, '@thebledshow'),
 (2, '@the_1_dragon'),
 (2, '@stevenadams'),
 (2, '@stephensonlance'),
 (2, '@staplescenterla'),
 (2, '@seattlestorm'),
 (2, '@sbird10'),
 (2, '@samdek7'),
 (2, '@rudygay'),
 (2, '@repyourwork'),
 (2, '@realtristan13'),
 (2, '@realcoleworld'),
 (2, '@nbakicks'),
 (2, '@milosteodosic4'),
 (2, '@mgmresortsintl'),
 (2, '@markellefultz'),
 (2, '@lvaces'),
 (2, '@kuzmakyle'),
 (2, '@kristenledlow'),
 (2, '@kkorv26'),
 (2, '@kevinlove'),
 (2, '@kevinhart4real'),
 (2, '@karltowns'),
 (2, '@jumpman23'),
 (2, '@juliusrandle30'),
 (2, '@jrich_0'),
 (2, '@jarrettjack03'),
 (2, '@jabariparker'),
 (2, '@iamamirjohnson'),
 (2, '@hassanwhiteside'),
 (2, '@greenranger14'),
 (2, '@godzgift_30'),
 (2, '@gmb_chum12'),
 (2, '@g'),
 (2, '@emmanuelmudiay'),
 (2, '@dtaegraham'),
 (2, '@dofficialmutombo'),
 (2, '@carmeloanthony'),
 (2, '@budweiserusa'),
 (2, '@boogiecousins'),
 (2, '@biggame_08'),
 (2, '@andredrummondd'),
 (2, '@ahmad_monk'),
 (2, '@adamsilvernba'),
 (2, '@_tonyparker09'),
 (2, '@3jmccollum'),
 (1, '@willthethrillb5'),
 (1, '@whynotfoundation'),
 (1, '@usabasketball'),
 (1, '@unitedmasters'),
 (1, '@unclejeffgreen'),
 (1, '@tobiasharris'),
 (1, '@tissot'),
 (1, '@therealmobamba'),
 (1, '@therea1djones'),
 (1, '@thenbpa'),
 (1, '@thedr34m'),
 (1, '@thats_g_'),
 (1, '@teamswish'),
 (1, '@taylorswift'),
 (1, '@t__cloud9'),
 (1, '@t'),
 (1, '@swayyvo'),
 (1, '@sviat_10'),
 (1, '@sterlingbrown23'),
 (1, '@steph'),
 (1, '@statefarm'),
 (1, '@spurs_austin'),
 (1, '@shai'),
 (1, '@sdot1414'),
 (1, '@ruuufio'),
 (1, '@rhff'),
 (1, '@rgvvipers'),
 (1, '@reggie_jackson'),
 (1, '@realbillrussell'),
 (1, '@rademita'),
 (1, '@quese'),
 (1, '@qcook323'),
 (1, '@preedgolf'),
 (1, '@planetpat5'),
 (1, '@pharrell'),
 (1, '@paulmillsap4'),
 (1, '@officialeg10'),
 (1, '@nvonleh'),
 (1, '@njohn13'),
 (1, '@nike'),
 (1, '@nicbatum88'),
 (1, '@nerd'),
 (1, '@nbastore'),
 (1, '@nbacares'),
 (1, '@nbaacademy'),
 (1, '@nba2kleague'),
 (1, '@nba2k'),
 (1, '@natlyphoto'),
 (1, '@naterobinson'),
 (1, '@mr_carter5'),
 (1, '@moritz_weasley'),
 (1, '@meyersleonard11'),
 (1, '@meekmill'),
 (1, '@mbeli21'),
 (1, '@mbeasy5'),
 (1, '@mb3five'),
 (1, '@markeaton7ft4'),
 (1, '@magicjohnson'),
 (1, '@macbo50'),
 (1, '@mac11'),
 (1, '@longislandnets'),
 (1, '@laurimarkkanen'),
 (1, '@kumhotireusa'),
 (1, '@krisdunn3'),
 (1, '@kostas__ante13'),
 (1, '@kocmj'),
 (1, '@kevin_huerter'),
 (1, '@kennethfaried35'),
 (1, '@kendricklamar'),
 (1, '@kellyschu'),
 (1, '@katyperry'),
 (1, '@k_mid22'),
 (1, '@jvalanciunas'),
 (1, '@juliancenter'),
 (1, '@jrue_holiday11'),
 (1, '@josh_j11'),
 (1, '@jonisaac_01'),
 (1, '@joeingles7'),
 (1, '@jlin7'),
 (1, '@jeremylamb1'),
 (1, '@jeramigrant'),
 (1, '@jdg7873'),
 (1, '@jalenbrunson1'),
 (1, '@jabari_bird'),
 (1, '@j_lay_lay'),
 (1, '@ivicazubac'),
 (1, '@indianageorge3'),
 (1, '@impjrose'),
 (1, '@imanshumpert'),
 (1, '@iisuperwomanii'),
 (1, '@iisaiahthomas'),
 (1, '@iammontaellis'),
 (1, '@houseofhoops'),
 (1, '@houseobayne'),
 (1, '@hoophall'),
 (1, '@hbarnes'),
 (1, '@govballnyc'),
 (1, '@gallo_locknez'),
 (1, '@furkankorkkmaz'),
 (1, '@fskpart3'),
 (1, '@fs1'),
 (1, '@frank_ntilikina'),
 (1, '@fmason0'),
 (1, '@finishline'),
 (1, '@filayyyy'),
 (1, '@fergie'),
 (1, '@famouslos32'),
 (1, '@expressmen'),
 (1, '@evanfournier10'),
 (1, '@elfrid'),
 (1, '@eddavisxvii'),
 (1, '@ecambage'),
 (1, '@ebled2'),
 (1, '@dsabonis11'),
 (1, '@ds17_fg'),
 (1, '@dk2house'),
 (1, '@djstephens30'),
 (1, '@djaugustin'),
 (1, '@divincenzo9'),
 (1, '@dickssportinggoods'),
 (1, '@deandreayton'),
 (1, '@danilogallogallinari'),
 (1, '@dallaswings'),
 (1, '@complexcon'),
 (1, '@collinyoungbull'),
 (1, '@cassyathenaphoto'),
 (1, '@callme_nonstop'),
 (1, '@boban'),
 (1, '@barenakedladiesmusic'),
 (1, '@bam1of1'),
 (1, '@balapat'),
 (1, '@aja22wilson'),
 (1, '@adbphotoinc'),
 (1, '@acfresh21'),
 (1, '@_wadeiv'),
 (1, '@_bigjayy_'),
 (1, '@44bojan'),
 (1, '@3tross1'),
 (1, '@23'),
 (1, '@1ingram4')]

In [24]:
teams = ['@nuggets ','@spurs ', '@okcthunder ', '@pelicansnba ','@dallasmavs ', '@trailblazers ', '@utahjazz ',
        '@bucks ', '@sixers ','@raptors ','@laclippers ', '@miamiheat ', '@pacers ', '@houstonrockets ',
        '@timberwolves ', '@cavs ', '@warriors ','@celtics ','@lakers ','@sacramentokings ', '@orlandomagic ', '@detroitpistons ',
         '@brooklynnets ','@atlhawks ', '@memgrizz ', '@suns ', '@hornets ', '@washwizards ', '@nyknicks ', '@chicagobulls '
        ]

In [25]:
def teamTagged(lst): 
    for tag in lst: 
        if tag in teams: 
            return 1 
    return 0

In [26]:
data['teamTagged']= data.shoutouts.map(lambda a: teamTagged(a))

In [27]:
def otherTagged(lst): 
    for tag in lst: 
        if tag not in teams: 
            return 1 
    return 0 

data['otherTagged']= data.shoutouts.map(lambda a: otherTagged(a))

In [28]:
top3 = ['@kyrieirving ','@kingjames ', '@stephencurry30 ']
bottom3 = ['@nuggets ','@spurs ','@okcthunder ' ]

def top3Tagged(lst): 
    for tag in lst: 
        if tag in top3: 
            return 1 
    return 0 

data['top3Tagged']= data.shoutouts.map(lambda a: top3Tagged(a))

def bottom3Tagged(lst): 
    for tag in lst: 
        if tag in bottom3: 
            return 1 
    return 0 

data['bottom3Tagged']= data.shoutouts.map(lambda a: bottom3Tagged(a))

In [29]:
data['hashtags']= data.Description.map(lambda x: re.findall('#\w*', x))

In [30]:
data['hasHashtag']=data.hashtags.map(lambda x: x != [])

In [33]:
data['monthDateYear']= data.Created.map(lambda x: x.strftime('%Y-%m-%d'))

In [34]:
data.head()

,Engagements,Followers at Posting,Created,Type,Description,Len_Desc,Tagged_Count,DayOfWeek,playOffDate,month,...,timeOfDay,propOfSpecialTexts,shoutouts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,hashtags,hasHashtag,monthDateYear
0,NaN,36984682,2019-05-22 04:31:55,Photo,The @raptors even up the Eastern Conference Fi...,55,1,Wednesday,1,5,...,Night,0.111111,[@raptors],0,1,0,0,[],False,2019-05-22
1,NaN,36984682,2019-05-22 03:20:41,Photo,The @raptors even the Eastern Conference Final...,92,2,Wednesday,1,5,...,Night,0.133333,"[@raptors, @bucks]",0,1,0,0,[],False,2019-05-22
2,NaN,36984682,2019-05-22 01:18:51,Video,@sergeibaka keeps it alive for the @raptors! (...,60,3,Wednesday,1,5,...,Night,0.444444,"[@sergeibaka, @raptors, @nbaontnt]",0,1,0,0,[],False,2019-05-22
3,NaN,36955156,2019-05-21 22:20:09,Video,???? The SUPERHUMAN HANDS of Giannis & Kawhi ?...,105,3,Tuesday,1,5,...,Evening,0.375000,"[@bucks, @raptors, @nbaontnt]",0,1,0,0,[],False,2019-05-21
4,NaN,36955156,2019-05-21 19:04:31,Video,?? the @raptors & @bucks in transition! #NBABr...,121,3,Tuesday,1,5,...,Evening,0.375000,"[@raptors, @bucks, @nbaontnt]",0,1,0,0,[#NBABreakdown],True,2019-05-21

In [35]:
x =data.groupby(['monthDateYear']).size()
x= x.reset_index()
data = data.merge(x, left_on='monthDateYear', right_on='monthDateYear')
data = data.rename(columns={0: 'postsInThatDay'})

In [36]:
def seasonTime(date): 
    if pd.Timestamp('2019-6-14') > date >= pd.Timestamp('2019-4-13'): 
        return 'Playoffs' 
    elif pd.Timestamp('2019-4-13')> date > pd.Timestamp('2019-2-17'):
        return 'PostAllStarBreak'
    elif pd.Timestamp('2019-2-17')>= date >= pd.Timestamp('2019-2-15'):
        return 'AllStarBreak'
    elif pd.Timestamp('2019-2-15')> date >= pd.Timestamp('2018-10-16'):
        return 'BeforeAllStarBreak'
    elif pd.Timestamp('2018-6-8') > date >= pd.Timestamp('2018-4-14'): 
        return 'Playoffs' 
    elif pd.Timestamp('2018-4-14')> date > pd.Timestamp('2018-2-18'):
        return 'PostAllStarBreak'
    elif pd.Timestamp('2018-2-18')>= date >= pd.Timestamp('2018-2-16'):
        return 'AllStarBreak'
    elif pd.Timestamp('2018-2-16')> date >= pd.Timestamp('2017-10-17'):
        return 'BeforeAllStarBreak'
    elif pd.Timestamp('2017-6-12') > date >= pd.Timestamp('2017-4-15'): 
        return 'Playoffs' 
    elif pd.Timestamp('2017-4-15')> date > pd.Timestamp('2017-2-19'):
        return 'PostAllStarBreak'
    elif pd.Timestamp('2017-2-19')>= date >= pd.Timestamp('2017-2-17'):
        return 'AllStarBreak'
    elif pd.Timestamp('2017-2-17')> date >= pd.Timestamp('2016-10-25'):
        return 'BeforeAllStarBreak'
    else: return 'Offseason'

In [37]:
def vidAllStar(row): 
    if row['SeasonTime'] == 'AllStarBreak' and row['Type'] == 'Video': 
        return 1
    else:
        return 0

In [38]:
def nonvidOffseason(row): 
    if row['SeasonTime'] == 'Offseason' and row['Type'] != 'Video': 
        return 1
    else:
        return 0

In [39]:
data['Created']= pd.to_datetime(data['Created'])
data['SeasonTime'] = data.Created.map(lambda a: seasonTime(a))

In [40]:
data['vidAllStar'] = data.apply(lambda row: vidAllStar(row), axis =1 )
data['nonvidOffseason'] = data.apply(lambda row: nonvidOffseason(row), axis =1 )

In [41]:
data.dtypes

Engagements                    float64
Followers at Posting             int64
Created                 datetime64[ns]
Type                            object
Description                     object
Len_Desc                         int64
Tagged_Count                     int64
DayOfWeek                       object
playOffDate                      int64
month                            int64
hour                             int64
timeOfDay                       object
propOfSpecialTexts             float64
shoutouts                       object
teamTagged                       int64
otherTagged                      int64
top3Tagged                       int64
bottom3Tagged                    int64
hashtags                        object
hasHashtag                        bool
monthDateYear                   object
postsInThatDay                   int64
SeasonTime                      object
vidAllStar                       int64
nonvidOffseason                  int64
dtype: object

In [42]:
x= pd.get_dummies(data['Type'])
x['Not_Video'] = x['Album']+x['Photo']
data = data.join(x.drop(['Album','Photo'],axis = 1))
data = data.drop(['shoutouts','hashtags','monthDateYear','Created','Type','Description'],axis = 1)
data = data.join(pd.get_dummies(data['timeOfDay']))
data = data.join(pd.get_dummies(data['DayOfWeek']))
data = data.join(pd.get_dummies(data['month']))
data = data.join(pd.get_dummies(data['SeasonTime']))
data = data.drop(['DayOfWeek','timeOfDay','hour','month','SeasonTime'],axis = 1)

In [43]:
data.dtypes

Engagements             float64
Followers at Posting      int64
Len_Desc                  int64
Tagged_Count              int64
playOffDate               int64
propOfSpecialTexts      float64
teamTagged                int64
otherTagged               int64
top3Tagged                int64
bottom3Tagged             int64
hasHashtag                 bool
postsInThatDay            int64
vidAllStar                int64
nonvidOffseason           int64
Video                     uint8
Not_Video                 uint8
Afternoon                 uint8
Evening                   uint8
Morning                   uint8
Night                     uint8
Friday                    uint8
Monday                    uint8
Saturday                  uint8
Sunday                    uint8
Thursday                  uint8
Tuesday                   uint8
Wednesday                 uint8
1                         uint8
2                         uint8
3                         uint8
4                         uint8
5                         uint8
6                         uint8
7                         uint8
8                         uint8
9                         uint8
10                        uint8
11                        uint8
12                        uint8
AllStarBreak              uint8
BeforeAllStarBreak        uint8
Offseason                 uint8
Playoffs                  uint8
PostAllStarBreak          uint8
dtype: object

In [44]:
data= data.rename(columns={'Followers at Posting': 'NBA_Follower_Count'})

In [45]:
data.head()

,Engagements,NBA_Follower_Count,Len_Desc,Tagged_Count,playOffDate,propOfSpecialTexts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,...,8,9,10,11,12,AllStarBreak,BeforeAllStarBreak,Offseason,Playoffs,PostAllStarBreak
0,NaN,36984682,55,1,1,0.111111,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,NaN,36984682,92,2,1,0.133333,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,NaN,36984682,60,3,1,0.444444,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,NaN,36955156,105,3,1,0.375000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,NaN,36955156,121,3,1,0.375000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [46]:
data['Tagged_Count^2'] = data['Tagged_Count']*data['Tagged_Count']

In [47]:
standardize = data[['NBA_Follower_Count', 'Len_Desc', 'Tagged_Count','Tagged_Count^2',
         'propOfSpecialTexts','postsInThatDay']]
standardize

,NBA_Follower_Count,Len_Desc,Tagged_Count,Tagged_Count^2,propOfSpecialTexts,postsInThatDay
0,36984682,55,1,1,0.111111,3
1,36984682,92,2,4,0.133333,3
2,36984682,60,3,9,0.444444,3
3,36955156,105,3,9,0.375000,6
4,36955156,121,3,9,0.375000,6
5,36955156,70,2,4,0.272727,6
6,36955156,34,0,0,0.166667,6
7,36955156,59,1,1,0.090909,6
8,36955156,80,2,4,0.133333,6
9,36928789,119,4,16,0.368421,1
10,36899744,70,2,4,0.166667,2
11,36899744,89,2,4,0.142857,2
12,36872342,80,1,1,0.076923,1
13,36846041,57,1,1,0.166667,2
14,36846041,64,2,4,0.222222,2
15,36784913,125,0,0,0.055556,1
16,36756045,77,0,0,0.090909,1
17,36716811,63,0,0,0.285714,4
18,36716811,89,1,1,0.400000,4
19,36716811,51,0,0,0.400000,4
20,36716811,52,0,0,0.000000,4
21,36686842,57,1,1,0.222222,1
22,36655209,89,2,4,0.181818,3
23,36655209,97,2,4,0.187500,3
24,36655209,66,2,4,0.250000,3
25,36632094,90,0,0,0.250000,5
26,36632094,123,3,9,0.200000,5
27,36632094,62,3,9,0.300000,5
28,36632094,54,1,1,0.111111,5
29,36632094,27,2,4,1.000000,5
...,...,...,...,...,...,...
970,25191960,13,0,0,0.500000,2
971,25191960,64,0,0,0.090909,1
972,25155150,53,2,4,0.222222,1
973,25155150,142,5,25,0.388889,1
974,25132964,144,0,0,0.160000,3
975,25132964,68,0,0,0.100000,3
976,25120030,4,0,0,1.000000,3
977,25120030,99,3,9,0.384615,1
978,25079991,130,4,16,0.277778,4
979,25079991,23,0,0,1.000000,4
980,25054261,93,1,1,0.125000,4
981,25054261,19,0,0,1.000000,4
982,25030420,38,0,0,0.142857,1
983,24995131,72,0,0,0.083333,3
984,24995131,6,0,0,1.000000,3
985,24995131,36,1,1,0.333333,3
986,24970138,30,1,1,1.000000,2
987,24970138,15,0,0,0.666667,2
988,24947214,63,0,0,0.100000,1
989,24935596,53,0,0,0.111111,3
990,24935596,85,3,9,0.363636,3
991,24935596,61,1,1,0.250000,3
992,24900465,85,2,4,0.230769,1
993,24900465,76,1,1,0.142857,3
994,24893189,84,2,4,0.230769,3
995,24893189,38,1,1,0.600000,3
996,24893189,23,0,0,0.000000,2
997,24885537,75,1,1,0.166667,2
998,24885537,145,3,9,0.263158,2
999,24875542,54,1,1,0.250000,2

In [48]:
dummy = data[['Engagements','teamTagged',
 'otherTagged',
 'top3Tagged',
 'bottom3Tagged',
 'hasHashtag',
 'vidAllStar',
 'nonvidOffseason',
 'Video',
 'Not_Video',
 'Afternoon',
 'Evening',
 'Morning',
 'Night',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 'AllStarBreak',
 'BeforeAllStarBreak',
 'Offseason',
 'Playoffs',
 'PostAllStarBreak']]

In [49]:
len(dummy.columns.tolist())

38

In [52]:
X = preprocessing.scale(standardize)
Y = pd.DataFrame(X).rename(columns={0:'NBA_Follower_Count', 1:'Len_Desc', 2:'Tagged_Count',3:'Tagged_Count^2',
       4:'propOfSpecialTexts',5:'postsInThatDay'})
data_post_standardize= Y.join(dummy)

In [53]:
data_post_standardize['hasHashtag'] = data_post_standardize['hasHashtag'].astype(int)
data_post_standardize

,NBA_Follower_Count,Len_Desc,Tagged_Count,Tagged_Count^2,propOfSpecialTexts,postsInThatDay,Engagements,teamTagged,otherTagged,top3Tagged,...,8,9,10,11,12,AllStarBreak,BeforeAllStarBreak,Offseason,Playoffs,PostAllStarBreak
0,1.734250,-0.369289,-0.455505,-0.552255,-0.837799,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1.734250,0.654361,0.472204,0.142405,-0.721902,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,1.734250,-0.230958,1.399914,1.300174,0.900656,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1.726429,1.014022,1.399914,1.300174,0.538478,1.923568,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,1.726429,1.456682,1.399914,1.300174,0.538478,1.923568,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
5,1.726429,0.045705,0.472204,0.142405,0.005089,1.923568,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
6,1.726429,-0.950279,-1.383215,-0.783809,-0.548056,1.923568,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,1.726429,-0.258624,-0.455505,-0.552255,-0.943159,1.923568,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
8,1.726429,0.322367,0.472204,0.142405,-0.721902,1.923568,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
9,1.719446,1.401349,2.327624,2.921049,0.504167,-1.269606,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
10,1.711753,0.045705,0.472204,0.142405,-0.548056,-0.630971,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
11,1.711753,0.571363,0.472204,0.142405,-0.672231,-0.630971,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
12,1.704495,0.322367,-0.455505,-0.552255,-1.016102,-1.269606,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
13,1.697529,-0.313956,-0.455505,-0.552255,-0.548056,-0.630971,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
14,1.697529,-0.120293,0.472204,0.142405,-0.258314,-0.630971,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
15,1.681338,1.567347,-1.383215,-0.783809,-1.127541,-1.269606,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,1.673692,0.239368,-1.383215,-0.783809,-0.943159,-1.269606,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,1.663301,-0.147959,-1.383215,-0.783809,0.072821,0.646298,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1.663301,0.571363,-0.455505,-0.552255,0.668862,0.646298,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
19,1.663301,-0.479954,-1.383215,-0.783809,0.668862,0.646298,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,1.663301,-0.452287,-1.383215,-0.783809,-1.417284,0.646298,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,1.655363,-0.313956,-0.455505,-0.552255,-0.258314,-1.269606,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
22,1.646985,0.571363,0.472204,0.142405,-0.469035,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
23,1.646985,0.792692,0.472204,0.142405,-0.439403,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
24,1.646985,-0.064960,0.472204,0.142405,-0.113442,0.007664,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
25,1.640862,0.599029,-1.383215,-0.783809,-0.113442,1.284933,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,1.640862,1.512014,1.399914,1.300174,-0.374211,1.284933,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
27,1.640862,-0.175625,1.399914,1.300174,0.147326,1.284933,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
28,1.640862,-0.396955,-0.455505,-0.552255,-0.837799,1.284933,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
29,1.640862,-1.143943,0.472204,0.142405,3.798081,1.284933,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,-1.389193,-1.531270,-1.383215,-0.783809,1.190399,-0.630971,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
971,-1.389193,-0.120293,-1.383215,-0.783809,-0.943159,-1.269606,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
972,-1.398943,-0.424621,0.472204,0.142405,-0.258314,-1.269606,NaN,0,1,0,...,0,0,1,0,0,0,1,0,0,0
973,-1.398943,2.037672,3.255333,5.005031,0.610914,-1.269606,NaN,0,1,0,...,0,0,1,0,0,0,1,0,0,0
974,-1.404819,2.093005,-1.383215,-0.783809,-0.582825,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
975,-1.404819,-0.009628,-1.383215,-0.783809,-0.895747,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
976,-1.408245,-1.780266,-1.383215,-0.783809,3.798081,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
977,-1.408245,0.848025,1.399914,1.300174,0.588626,-1.269606,NaN,0,1,0,...,0,0,1,0,0,0,1,0,0,0
978,-1.418849,1.705678,2.327624,2.921049,0.031429,0.646298,NaN,0,1,0,...,0,0,1,0,0,0,1,0,0,0
979,-1.418849,-1.254608,-1.383215,-0.783809,3.798081,0.646298,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
980,-1.425664,0.682028,-0.455505,-0.552255,-0.765363,0.646298,NaN,0,1,0,...,0,0,1,0,0,0,1,0,0,0
981,-1.425664,-1.365273,-1.383215,-0.783809,3.798081,0.646298,NaN,0,0,0,...,0,0,1,0,0,0,1,0,0,0
982,-1.431979,-0.839614,-1.383215,-0.783809,-0.672231,-1.269606,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
983,-1.441326,0.101037,-1.383215,-0.783809,-0.982670,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
984,-1.441326,-1.724933,-1.383215,-0.783809,3.798081,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
985,-1.441326,-0.894947,-0.455505,-0.552255,0.321171,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
986,-1.447945,-1.060944,-0.455505,-0.552255,3.798081,-0.630971,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
987,-1.447945,-1.475937,-1.383215,-0.783809,2.059626,-0.630971,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
988,-1.454017,-0.147959,-1.383215,-0.783809,-0.895747,-1.269606,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
989,-1.457094,-0.424621,-1.383215,-0.783809,-0.837799,0.007664,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
990,-1.457094,0.460698,1.399914,1.300174,0.479213,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
991,-1.457094,-0.203291,-0.455505,-0.552255,-0.113442,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
992,-1.466399,0.460698,0.472204,0.142405,-0.213738,-1.269606,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
993,-1.466399,0.211702,-0.455505,-0.552255,-0.672231,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
994,-1.468326,0.433032,0.472204,0.142405,-0.213738,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
995,-1.468326,-0.839614,-0.455505,-0.552255,1.711935,0.007664,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
996,-1.468326,-1.254608,-1.383215,-0.783809,-1.417284,-0.630971,NaN,0,0,0,...,0,0,1,0,0,0,0,1,0,0
997,-1.470353,0.184036,-0.455505,-0.552255,-0.548056,-0.630971,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
998,-1.470353,2.120671,1.399914,1.300174,-0.044819,-0.630971,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0
999,-1.473000,-0.396955,-0.455505,-0.552255,-0.113442,-0.630971,NaN,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [54]:
data_post_standardize.to_csv('testing_data.csv', index= False)