In [99]:
import pandas as pd
import datetime
import numpy as np
import sklearn as sk

In [100]:
data = pd.read_csv('Data_For_Modeling/esketit2.csv', encoding = "ISO-8859-1")

In [101]:
data.head()

,Engagements,NBA_Follower_Count,Created,Type,Description,Len_Desc,Tagged_Count,DayOfWeek,playOffDate,month,...,propOfSpecialTexts,shoutouts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,hashtags,hasHashtag,monthDateYear,postsInThatDay
0,502093,36984682,2019-05-22 03:30:51,Video,The @raptors bench trio of @sergeibaka @norman...,95,4,Wednesday,1,5,...,0.266667,"['@raptors ', '@sergeibaka ', '@normanpowell4 ...",1,1,0,0,[],False,2019-05-22,5
1,603380,36984682,2019-05-22 02:53:33,Video,@kyle_lowry7 pulls from deep for the @raptors ...,64,2,Wednesday,1,5,...,0.166667,"['@kyle_lowry7 ', '@raptors ']",1,1,0,0,[],False,2019-05-22,5
2,603380,36984682,2019-05-22 02:19:58,Video,@k_mid22 with some english on the @bucks dime!,46,2,Wednesday,1,5,...,0.250000,"['@k_mid22 ', '@bucks ']",1,1,0,0,[],False,2019-05-22,5
3,725100,36984682,2019-05-22 02:02:41,Video,Kawhi punches it home with the left on TNT!,43,0,Wednesday,1,5,...,0.000000,[],0,0,0,0,[],False,2019-05-22,5
4,661446,36984682,2019-05-22 00:47:49,Video,@giannis_an34 goes baseline early to rock the ...,57,1,Wednesday,1,5,...,0.100000,['@giannis_an34 '],0,1,0,0,[],False,2019-05-22,5

In [102]:
x= pd.get_dummies(data['Type'])
x['Not_Video'] = x['Album']+x['Photo']
x.head()

   Album  Photo  Video  Not_Video
0      0      0      1          0
1      0      0      1          0
2      0      0      1          0
3      0      0      1          0
4      0      0      1          0

In [103]:
data = data.join(x.drop(['Album','Photo'],axis = 1))

In [104]:
data.columns

Index(['Engagements', 'NBA_Follower_Count', 'Created', 'Type', 'Description',
       'Len_Desc', 'Tagged_Count', 'DayOfWeek', 'playOffDate', 'month', 'hour',
       'timeOfDay', 'propOfSpecialTexts', 'shoutouts', 'teamTagged',
       'otherTagged', 'top3Tagged', 'bottom3Tagged', 'hashtags', 'hasHashtag',
       'monthDateYear', 'postsInThatDay', 'Video', 'Not_Video'],
      dtype='object')

In [105]:
data= data.drop(['shoutouts','hashtags','monthDateYear','Created','Type','Description'],axis = 1)

In [106]:
data.head()

,Engagements,NBA_Follower_Count,Len_Desc,Tagged_Count,DayOfWeek,playOffDate,month,hour,timeOfDay,propOfSpecialTexts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,hasHashtag,postsInThatDay,Video,Not_Video
0,502093,36984682,95,4,Wednesday,1,5,3,Night,0.266667,1,1,0,0,False,5,1,0
1,603380,36984682,64,2,Wednesday,1,5,2,Night,0.166667,1,1,0,0,False,5,1,0
2,603380,36984682,46,2,Wednesday,1,5,2,Night,0.250000,1,1,0,0,False,5,1,0
3,725100,36984682,43,0,Wednesday,1,5,2,Night,0.000000,0,0,0,0,False,5,1,0
4,661446,36984682,57,1,Wednesday,1,5,0,Night,0.100000,0,1,0,0,False,5,1,0

In [107]:
data = data.join(pd.get_dummies(data['timeOfDay']))

In [108]:
data = data.join(pd.get_dummies(data['DayOfWeek']))

In [109]:
data.head()

,Engagements,NBA_Follower_Count,Len_Desc,Tagged_Count,DayOfWeek,playOffDate,month,hour,timeOfDay,propOfSpecialTexts,...,Evening,Morning,Night,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,502093,36984682,95,4,Wednesday,1,5,3,Night,0.266667,...,0,0,1,0,0,0,0,0,0,1
1,603380,36984682,64,2,Wednesday,1,5,2,Night,0.166667,...,0,0,1,0,0,0,0,0,0,1
2,603380,36984682,46,2,Wednesday,1,5,2,Night,0.250000,...,0,0,1,0,0,0,0,0,0,1
3,725100,36984682,43,0,Wednesday,1,5,2,Night,0.000000,...,0,0,1,0,0,0,0,0,0,1
4,661446,36984682,57,1,Wednesday,1,5,0,Night,0.100000,...,0,0,1,0,0,0,0,0,0,1

In [110]:
data= data.drop(['DayOfWeek','timeOfDay'],axis = 1)

In [111]:
data.head()

,Engagements,NBA_Follower_Count,Len_Desc,Tagged_Count,playOffDate,month,hour,propOfSpecialTexts,teamTagged,otherTagged,...,Evening,Morning,Night,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,502093,36984682,95,4,1,5,3,0.266667,1,1,...,0,0,1,0,0,0,0,0,0,1
1,603380,36984682,64,2,1,5,2,0.166667,1,1,...,0,0,1,0,0,0,0,0,0,1
2,603380,36984682,46,2,1,5,2,0.250000,1,1,...,0,0,1,0,0,0,0,0,0,1
3,725100,36984682,43,0,1,5,2,0.000000,0,0,...,0,0,1,0,0,0,0,0,0,1
4,661446,36984682,57,1,1,5,0,0.100000,0,1,...,0,0,1,0,0,0,0,0,0,1

In [112]:
data.columns

Index(['Engagements', 'NBA_Follower_Count', 'Len_Desc', 'Tagged_Count',
       'playOffDate', 'month', 'hour', 'propOfSpecialTexts', 'teamTagged',
       'otherTagged', 'top3Tagged', 'bottom3Tagged', 'hasHashtag',
       'postsInThatDay', 'Video', 'Not_Video', 'Afternoon', 'Evening',
       'Morning', 'Night', 'Friday', 'Monday', 'Saturday', 'Sunday',
       'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [113]:
test = data[['NBA_Follower_Count', 'Len_Desc', 'Tagged_Count',
       'playOffDate', 'month', 'hour', 'propOfSpecialTexts']]

In [114]:
from sklearn import preprocessing, svm

In [115]:
X = preprocessing.scale(test)

In [116]:
Y = pd.DataFrame(X).rename(columns={0:'NBA_Follower_Count', 1:'Len_Desc', 2:'Tagged_Count',
       3:'playOffDate', 4:'month', 5:'hour', 6:'propOfSpecialTexts'})

In [117]:
Z = data[['teamTagged',
       'otherTagged', 'top3Tagged', 'bottom3Tagged', 'hasHashtag',
       'postsInThatDay', 'Video', 'Not_Video', 'Afternoon', 'Evening',
       'Morning', 'Night', 'Friday', 'Monday', 'Saturday', 'Sunday',
       'Thursday', 'Tuesday', 'Wednesday']]

In [118]:
processedData= Y.join(Z).drop('hour', axis =1)

In [119]:
processedData.head()

,NBA_Follower_Count,Len_Desc,Tagged_Count,playOffDate,month,propOfSpecialTexts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,...,Evening,Morning,Night,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,1.749128,0.698583,2.216012,3.459038,-0.25383,0.003876,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1,1.749128,-0.136075,0.436787,3.459038,-0.25383,-0.543573,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
2,1.749128,-0.620715,0.436787,3.459038,-0.25383,-0.087365,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
3,1.749128,-0.701488,-1.342437,3.459038,-0.25383,-1.455990,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,1.749128,-0.324546,-0.452825,3.459038,-0.25383,-0.908540,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [120]:
processedData.columns

Index(['NBA_Follower_Count', 'Len_Desc', 'Tagged_Count', 'playOffDate',
       'month', 'propOfSpecialTexts', 'teamTagged', 'otherTagged',
       'top3Tagged', 'bottom3Tagged', 'hasHashtag', 'postsInThatDay', 'Video',
       'Not_Video', 'Afternoon', 'Evening', 'Morning', 'Night', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [121]:
target = data['Engagements']

In [122]:
from sklearn.model_selection import train_test_split

In [123]:
from sklearn.feature_selection import SelectKBest, f_regression

In [124]:
X_train, X_test, y_train, y_test = train_test_split(processedData, target, test_size=0.2)

In [125]:
X_train.head()

,NBA_Follower_Count,Len_Desc,Tagged_Count,playOffDate,month,propOfSpecialTexts,teamTagged,otherTagged,top3Tagged,bottom3Tagged,...,Evening,Morning,Night,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
6349,-1.057343,-0.916884,-0.452825,-0.289098,-1.277322,-0.361090,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
5240,-0.766195,-0.836110,-0.452825,-0.289098,-0.509703,0.596947,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
1225,1.250995,-0.513017,-0.452825,-0.289098,-0.765576,-0.771677,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
2786,0.529957,-0.863035,-0.452825,-0.289098,1.281407,-0.543573,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
4082,-0.254488,0.160094,-0.452825,-0.289098,0.257916,-0.613759,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0

In [126]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

In [127]:
parameters = [{'kernel':['rbf','linear','poly','sigmoid'],
               'gamma':[1e-2,1e-3,1e-4,1e-5],
               'C':[0.01,0.1,1,10]}]

# used grid search to find optimal kernel, gamma, C
gs = GridSearchCV(SVR(), parameters, cv=5, verbose=1)
gs.fit(X_train, y_train)
svm = gs.best_estimator_

# builds forecast column of df
forecast_set = svm.predict(X_test)

# MAPE
def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

print ('svm mape:', mean_absolute_percentage_error(y_test, forecast_set))

Fitting 5 folds for each of 64 candidates, totalling 320 fits

[Parallel(n_jobs=1)]: Done 320 out of 320 | elapsed:  9.8min finished

svm mape: 28.576799138903635

## Feature Selection and Stuff ##

In [131]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [134]:
bestfeatures = SelectKBest(score_func=f_regression, k=7)
fit = bestfeatures.fit(processedData,target)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(processedData.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(11,'Score'))  #print 10 best features

            Specs         Score
13      Not_Video  22416.055961
12          Video  22416.055961
8      top3Tagged    814.885384
1        Len_Desc    630.256329
6      teamTagged    407.609387
17          Night    336.851600
7     otherTagged    305.245611
14      Afternoon    242.290632
9   bottom3Tagged    213.380925
2    Tagged_Count    185.473122
10     hasHashtag    174.628700

In [135]:
featureScores

                 Specs         Score
0   NBA_Follower_Count     21.896238
1             Len_Desc    630.256329
2         Tagged_Count    185.473122
3          playOffDate     37.764360
4                month      3.269981
5   propOfSpecialTexts     19.733461
6           teamTagged    407.609387
7          otherTagged    305.245611
8           top3Tagged    814.885384
9        bottom3Tagged    213.380925
10          hasHashtag    174.628700
11      postsInThatDay     37.585108
12               Video  22416.055961
13           Not_Video  22416.055961
14           Afternoon    242.290632
15             Evening     26.823376
16             Morning     52.468422
17               Night    336.851600
18              Friday      9.308537
19              Monday      7.143337
20            Saturday      4.949277
21              Sunday     34.820148
22            Thursday      0.025383
23             Tuesday      2.301120
24           Wednesday      2.505104

In [136]:
features = ['Video', 'top3Tagged', 'Len_Desc', 'teamTagged','Night' ,'otherTagged', 'Afternoon', 'bottom3Tagged','Tagged_Count' 
,'hasHashtag']

In [137]:
X_train, X_test, y_train, y_test = train_test_split(processedData[features], target, test_size=0.2)

In [138]:
parameters = [{'kernel':['rbf','linear','poly','sigmoid'],
               'gamma':[1e-2,1e-3,1e-4,1e-5],
               'C':[0.01,0.1,1,10]}]

# used grid search to find optimal kernel, gamma, C
gs = GridSearchCV(SVR(), parameters, cv=5, verbose=1)
gs.fit(X_train, y_train)
svm = gs.best_estimator_

# builds forecast column of df
forecast_set = svm.predict(X_test)

# MAPE
def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

print ('svm mape:', mean_absolute_percentage_error(y_test, forecast_set))

Fitting 5 folds for each of 64 candidates, totalling 320 fits

[Parallel(n_jobs=1)]: Done 320 out of 320 | elapsed:  6.7min finished

svm mape: 30.7105996310451

### End of Kbest Feature Selection ###
Below here will be code to run a model and show results for comparison
- Note...scoring method might be jank

I think the general process can be once we do some way of processing and feature selection and decide on features put them in this list below.

In [145]:
features = ['Video', 'top3Tagged', 'Len_Desc', 'teamTagged','Night' ,'otherTagged', 'Afternoon', 'bottom3Tagged','Tagged_Count' 
,'hasHashtag']

In [146]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import fbeta_score, make_scorer
def evaluate_model(estimator):
    return cross_validate(estimator,                     
                    X=processedData[features],
                    y=target,
                    scoring=make_scorer(mean_absolute_percentage_error, greater_is_better=False),
                    n_jobs=-1, cv=3,
                    return_train_score=True)

def display_results(results):
    results_df  = pd.DataFrame(results).T
    results_cols = results_df.columns
    for col in results_df:
        results_df[col] = results_df[col].apply(np.mean)
    return results_df

In [149]:
RESULTS = {}

In [154]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet, Lasso, Ridge
RESULTS["tree"] = evaluate_model(DecisionTreeRegressor())
print('okay')
RESULTS["svr"] = evaluate_model(SVR())
print('we getting there')

okay
we getting there

      fit_time  score_time  test_score  train_score
tree  0.022446    0.003213  -10.944577    -3.165875
svr   1.797678    0.349883  -34.299013   -34.160083

In [156]:
from sklearn.ensemble import RandomForestRegressor
RESULTS["forest"] = evaluate_model(RandomForestRegressor())

In [158]:
from sklearn.ensemble import GradientBoostingRegressor

In [159]:
RESULTS["xgb"] = evaluate_model(GradientBoostingRegressor())

In [160]:
display_results(RESULTS)

        fit_time  score_time  test_score  train_score
tree    0.022446    0.003213  -10.944577    -3.165875
svr     1.797678    0.349883  -34.299013   -34.160083
forest  0.096405    0.006616   -9.730745    -4.952875
xgb     0.226708    0.006847   -8.368656    -7.793718

Something's off. It seems that basic regressors are having a hard time running. Could it be because of the fact that the data has a lot of binary?

In [163]:
X=processedData[features]
y=target

In [166]:
X.head()

,Video,top3Tagged,Len_Desc,teamTagged,Night,otherTagged,Afternoon,bottom3Tagged,Tagged_Count,hasHashtag
0,1,0,0.698583,1,1,1,0,0,2.216012,False
1,1,0,-0.136075,1,1,1,0,0,0.436787,False
2,1,0,-0.620715,1,1,1,0,0,0.436787,False
3,1,0,-0.701488,0,1,0,0,0,-1.342437,False
4,1,0,-0.324546,0,1,1,0,0,-0.452825,False

In [ ]:
from sklearn.linear_model import ElasticNet
RESULTS["ElasticNet"] = evaluate_model(ElasticNet(random_state=0))